body, p, h1, ul, li{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "roboto", sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* img{
    display:block;
    width: 100%;
    border-radius: 5px;
} */



/* GRID GERAL */

.estrutura{
    
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas: 
        "header header"
        "hero hero"
        "about about"
        "test test"
        "serv serv"
        "services services"
        "money money"
        "barba barba"
        "photo photo"
        "agende agende"
        "footer footer"
    ;
}

/* @media(max-width:1020px){
    .estrutura{
        grid-template-areas:
        "header"
        "header"
        "hero"
        "hero"
        "about about"
        "test test"
        "serv serv"
        "services services"
        "money money"
        "barba barba"
        "photo photo"
        "agende agende"
        "footer footer"
        ;
    }
} */

/* @media(max-width:720px){
    .estrutura{
        grid-template-areas:
        "header"
        "header"
        "hero hero"

        "about about"
        "test test"
        "serv serv"
        "services services"
        "money money"
        "barba barba"
        "photo photo"
        "agende agende"
        "footer footer"
        ;
    }
} */
@media(max-width:320px){
    .estrutura{
        grid-template-areas:
        
        ;
    }
}

/* HEADER */


.header{
    grid-area: header;
    
    background:  #252525;
    /* padding: 30px; */
    /* grid dentro do grid */
    display: grid;
    grid-template-columns: 1fr auto ;
    /* align-items: center; */
}
.logo{
    margin-top: 5px;
}
/* .logo a{
    margin-left: 138px;
} */

.logo img{
    
    border-radius: 50px;
    padding: 10px;
    width: 35px;
}
.localize{
    margin-left: auto;
    /* margin-right: 150px; */
}
.header nav ul{
    /* colocar na mesma linha */
    display: flex;
    /* quebra a linha */
    flex-wrap: wrap;
    margin: 30px auto auto auto;
}
header nav a{
    
    padding: 5px;
    color:#FFFFFF;
    
}

.header nav a:hover{
    color: violet;
}
.header nav img a{
    display: block;
    padding: 10px;
}

@media (max-width: 720px) {
    .header {
      grid-template-columns: auto;
    }
    .logo {
      align-items: flex-start;

    }
    /* .header nav a {
      
    } */
    .header li + li {
      margin-left: 5px;
    }
  }
/* ----------------------------------------------- */
/* Hero */

.hero{
    /* GRID PRINCIPAL */
    grid-area: hero;

    /* GRID SECUNDARIO */
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #232323;
}

.hero h1{
    margin: 240px auto 30px 138px;
    color: #BC9E6C;
}

.hero p{
    color: #FFFFFF;
    margin-left: 138px;
    margin-right: 50px;
    margin-bottom: 30px;
    
    text-align: left;
    
}
.hero ul{
    margin: 30px auto 240px 138px;
    max-width: 200px;
    padding: 10px;
    background: #F17D3C;
    border-radius: 10px;
    text-align: center;
}
.hero ul li a{
    color: #FFFFFF;
}
.hero ul li a:hover{
    color: violet;
}
.foto-barb img{
    /* width: auto; */
    
    border-radius: 50px;
    
}
@media(max-width:1024px){
    .hero{
        grid-template-columns: auto;
    }
    
    .hero h1{
        margin: 30px auto 15px 138px;
        /* text-align: left; */
    }
    .hero p{
        margin:15px 300px 15px 138px;
    }
    .barb-david ul{
        
        margin: 30px auto 30px 138px;
    }
    .foto-barb img{
        margin: 30px auto 30px 138px;
        
        width: 320px;
    }
}
@media(max-width:720px){
    .hero{
        grid-template-columns: auto;
        text-align:left;
        align-items: left;
    }
    .hero h1{
        margin: 30px auto 15px 15px;
        /* text-align: left; */
    }
    .hero p{
        margin:15px 50px 15px 15px;  
    }
    .barb-david ul{
        
        margin: 30px auto 30px 15px;
    }
    .foto-barb img{
        margin: 15px auto 30px 1px;
        
        width: 320px;
    }
    
}
/* --------------------------------------------------------------------------------- */
/* ABOUT */

.about{
    /* GRID PRINCIPAL */
    grid-area: about;
    /* ------------------ */
    display: grid;
    grid-template-columns:1fr 1fr;
    background-color:#252525;
    
}
.about h1{
    color: #BC9E6C;
}
.about h2{
    color: #D6D6D6;
}
.about p{
    margin-top: 15px;
    color: #FFFFFF;
}
.about-text{
    margin-left: 138px;
}
.about-text img{
    margin-top: 15px;
    max-width: 40px;
    border-radius: 50px;
}
.segundo img{
    padding: 30px;
    border-radius: 50px;
    max-width: 500px;
}

@media (max-width:1024px){
    .about{
        grid-template-columns: auto;
    }
  
    .about h1{
        margin: 30px auto 15px 0px;
    }
    .about h2{
        margin: 5px auto 15px 0px;
    }
    .about p{
        margin:15px 300px 15px 0px;
    }
    .segundo img{
        
        margin: 30px auto 30px 138px;
        width: 320px;
    }
}
@media (max-width:720px){
    .about{
        grid-template-columns: auto;
        
    }
    .about-text{
        margin: 30px auto 15px 15px;
    }
    .about-text img{
        margin: 15px 19px 15px 0px;
    }
    
    .about p{
        margin:15px 50px 15px 5px; 
    }
    .about img{
        margin: none;
        margin: 15px auto 30px 1px;
        
        width: 320px;
    }
}
/* ---------------------------------------------- */
/* TEST */
.test{
    grid-area: test;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #232323;
    text-align: center;
}

.test img{
    margin: auto;
    padding: 15px;
    color: #FFFFFF;
   
}

.test h1{
    
    color: #BC9E6C;
}

.test h2{
    
    color: #D6D6D6;
}
/* serv */

.serv{
    grid-area: serv;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #252525;
    text-align: center;
    padding: 20px;
}
.serv img{
    border-radius: 50px;
    margin: auto;
}
.serv h1{
    color: #BC9E6C;
}
.serv h2{
    color: #D6D6D6;
}
/* ----------------------------------------------------------- */
/* serviços */
.services{
    grid-area: services;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px;
    background-color: #252525;
    text-align: center;
}
.linha{
    border-radius: 50px;
}
.foto {
    border-radius: 50px;
    padding: 10px;
    max-width: 200px;
    height: 150px;
}
.services h2{
    
    color:#BC9E6C;
}
.services p{
    padding: 10px;
    color: #FFFFFF;
}
@media (max-width:930px){
    .services{
        grid-template-columns: auto auto auto;
    }
}

@media (max-width:720px){
    .services{
        grid-template-columns: auto auto;
    }
}
@media (max-width:490px){
    .services{
        grid-template-columns: auto;
    }
}


/* ----------------------------------------------------- */
/* MONEY */

.money{
    grid-area: money;
    display:grid;
    grid-template-columns: 1fr 1fr;
    background: #232323;
    
}

.money h1{
    color: #BC9E6C;
    margin: auto auto 20px 138px;

}
.money h2{
    color: #D6D6D6;
    padding: 20px;
    margin: auto auto auto 138px;
}
.money li{
    margin: auto auto 10px 138px;
    font-size: 21px;
    color: #D6D6D6;
    
}

@media (max-width:800px){
    .money{
        grid-template-columns: auto;
    }
}
@media (max-width:440px){
    .money{
        grid-template-columns: auto;
        
    }
    .money h1{
        margin: auto auto auto 10px;
    }
    .money h2{
        margin: auto;
    }
    .money ul li{
        margin: auto auto auto 10px;
    }
}
/* ------------------------------------------------------------ */
/* barba */

.barba{
    grid-area: barba;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #252525;
    text-align: center;
}
.barba img{
    padding: 10px;
    border-radius: 50px;
    margin: auto;
}
.barba h1{
    color: #BC9E6C;
}
.barba h2{
    color: #D6D6D6;
}

/* PHOTO */
.photo{
    grid-area: photo;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #232323;
    text-align: center;
    /* padding: 100px; */
    

}

.photo img{
    
    border-radius: 20px;
    max-width: 300px;
    height: 400px;

}

.photo h2{
    color:#BC9E6C;
}

.photo p{
    padding: 40px;
    color: #D6D6D6;
}
@media(max-width:920px){
    .photo{
        grid-template-columns: auto auto;
    }
}
@media(max-width:680px){
    .photo{
        grid-template-columns: auto;
    }
}
@media(max-width:440px){
    .photo{
        grid-template-columns: auto;
        margin: none;
        padding: none;
        
    }
   
}
/* ---------------------------------------------- */
/* agende */
.agende{
    grid-area: agende;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #252525;
    padding: 30px;
}
.agende h1{
    font-size: 21px;
    margin: auto auto auto 138px;
    color: #BC9E6C;
}
.agende ul {
    display: block;
    padding: 10px;
    background-color: #F17D3C;
    border-radius: 50px;
    text-align: center;
    margin: auto;
}
.agende li a{
    color: #FFFFFF;
}

.agende li a:hover{
    color: violet;
}

@media (max-width:780px){
    .agende{
        grid-template-columns: auto;
        
    }
    .agende h1{
        margin: auto auto 10px auto;
    }
}
/* ------------------------------------ */
/* footer */

.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #232323;
    text-align: center;
    padding: 20px;

}


.footer h2{
    color: #BC9E6C;
}

